# Listas
Son contenedores que permiten almacenar una colección de objetos en un orden determinado. Se pueden acceder, añadir o eliminar objetos de forma sencilla.

In [1]:
L1 = [] # Lista vacía

In [2]:
L2 = ['a', 'b', 'c', 'd'] #Lista con valores iniciales

In [3]:
L3 = [2,3,5,7,11] #Lista con valores enteros

In [4]:
L4 = ['a', 5, True, 'Adolfo Ramos'] # Lista heterógenea

In [5]:
L4

['a', 5, True, 'Adolfo Ramos']

In [6]:
L5 = [0]*10

In [7]:
L5

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [8]:
L4

['a', 5, True, 'Adolfo Ramos']

In [9]:
L4[1]

5

In [10]:
L6 = [1]*10

In [11]:
L6

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [12]:
L[4] = math.pi

NameError: name 'math' is not defined

In [13]:
import math
L[4] = math.pi

NameError: name 'L' is not defined

In [16]:
L6[4] = math.pi # Modificación de valores

In [15]:
L6

[1, 1, 1, 1, 3.141592653589793, 1, 1, 1, 1, 1]

In [17]:
L6.append(10)

In [18]:
L6

[1, 1, 1, 1, 3.141592653589793, 1, 1, 1, 1, 1, 10]

In [22]:
L6.remove(1) # Elimina la primera ocurrencia del objeto 10 de la lista L5.

In [20]:
L6

[1, 1, 1, 1, 3.141592653589793, 1, 1, 1, 1, 1]

In [23]:
L5.reverse

In [8]:
L5

NameError: name 'L5' is not defined

In [25]:
L6.reverse

In [26]:
L6

[1, 1, 1, 3.141592653589793, 1, 1, 1, 1, 1]

In [27]:
L5.count(math.pi)

0

In [28]:
L5.count(1)

0

In [29]:
L6.count(math.pi)

1

In [30]:
L6.count(1)

8

In [31]:
len(L6)

9

In [32]:
L = [1:6]

SyntaxError: invalid syntax (<ipython-input-32-aa2f3216dba5>, line 1)

In [33]:
L = [1, 2, 3, 4, 5, 6]

In [34]:
L[1::2] #Sacar elementos en posición impar

[2, 4, 6]

In [35]:
L[::2] # Sacar elementos en posición par

[1, 3, 5]

In [36]:
8 in L

False

In [37]:
4 in L

True

# Bucles

Los bucles **for** iteran sobre una colección (una lista, un string, un objeto iterable)

In [38]:
for numero in L:
    print(numero)

1
2
3
4
5
6

In [39]:
numero

6

In [41]:
for x in range(0,10): #range(10) = range(0,10)
    print(x)

0
1
2
3
4
5
6
7
8
9

In [42]:
for a in 'Adolfo Ramos':
    print(a)

A
d
o
l
f
o

R
a
m
o
s

Dada una lista, obtenemos la media aritmética con un bucle **for**

In [43]:
notas = [70, 75, 90, 98, 85, 100]
suma = 0
for nota in notas:
    suma = suma+nota
print(suma/len(notas))

86.33333333333333

El bucle **while** se repite hasta que la condición es falsa.

In [44]:
count = 0
while count < 10:
    print(count)
    count = count+1

0
1
2
3
4
5
6
7
8
9

In [45]:
contar = 1
while contar <= 10:
    print(contar)
    contar = contar+1

1
2
3
4
5
6
7
8
9
10

In [1]:
primos = [2, 3, 7]
for idx, p in enumerate(primos):
    print(idx, p)

0 2
1 3
2 7

In [3]:
for idx in range(len(primos)):
    print(idx, primos[idx])

0 2
1 3
2 7

# Tupla

Una tupla es una colección de objetos que no se puede modificar

In [4]:
p1 = (1, 2, 3, 4, 5)

Podemos hacer tuplas heterogeneas

In [5]:
p1[0]

1

In [6]:
suma = 0
for p in p1:
    suma = suma+p
print(suma)

15

In [7]:
linspace = (1:10)

SyntaxError: invalid syntax (<ipython-input-7-ca14504080fc>, line 1)

Podemos convertir tuplas a listas, y viceversa con los comandos que se muestran a continuación:

In [9]:
l5 = [0]*10
# Ahora pasamos de lista a tupla
p5 = tuple(l5)
l5

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [10]:
p5

(0, 0, 0, 0, 0, 0, 0, 0, 0, 0)

In [11]:
# Convertimos la tupla p1 a lista
l1 = list(p1)
l1

[1, 2, 3, 4, 5]

In [14]:
numeros = input('Escribe números separados por coma: ')
numerosL = numeros.split(',')
print(numerosL)
numerosT = tuple(numerosL)
print(numerosT)

Escribe números separados por coma: 10, 20, 40, 50, 80, 90, 50, 55, 45
['10', ' 20', ' 40', ' 50', ' 80', ' 90', ' 50', ' 55', ' 45']
('10', ' 20', ' 40', ' 50', ' 80', ' 90', ' 50', ' 55', ' 45')

In [15]:
suma = 0
for n in numerosT:
    suma += int(n)
print(suma/len(numerosT))

48.888888888888886

# Diccionario
Colección no ordenada de pares de valores: claves <-> valores. Se indexa no por posición, sino utilizando claves

In [16]:
nombre = input('Introduce tu nombre: ')
print('Hola, %s'%nombre)

Introduce tu nombre: Bryan Adolfo Ramos Morales
Hola, Bryan Adolfo Ramos Morales

In [17]:
print('Estos son los números primos: %s'%primos)

Estos son los números primos: [2, 3, 7]

In [18]:
print('Esto es un número entero: %d'%suma)

Esto es un número entero: 440

In [19]:
media = suma/len(numerosT)
print('Esto es un número decimal: %.3f'%media)

Esto es un número decimal: 48.889

Para crear diccionarios ocupamos llaves. Y no guardan el orden commo lo habíamos visto anteriormente con las listas y las tuplas.

In [20]:
edad = {'Brenda': 22, 'Adolfo': 21, 'Erika': 40}

In [21]:
edad['Erika']

40

In [22]:
edad['Erika'] = 41

In [23]:
edad

{'Brenda': 22, 'Adolfo': 21, 'Erika': 41}

In [25]:
edad.keys() # Obtenemos las claves dentro de mi diccionario
edad.values() # Obtenemos los valores de cada clave del diccionario

dict_values([22, 21, 41])

In [26]:
edad.keys()

dict_keys(['Brenda', 'Adolfo', 'Erika'])

In [27]:
len(edad)

3

In [28]:
'Bryan' in edad

False

In [29]:
'Adolfo' in edad

True

In [30]:
'Mario' not in edad

True